<h1>Posts</h1>
<% if !logged_in? %>
  <h5 style="color: lightblue;">Please log in to see the post author. </h5>
<% end %>
<% for post in @posts %>
  <div class="post_container">
    <span class="post_author">
      <% if logged_in? %>
        <% author = User.find(post.user_id) %>
        <%= author.name %>
      <% else %>
        Anonymous
      <% end %>
      </span><span class="post_time"> - 
      <%= post.created_at.to_s[0..-8] %></span><br>
    <span class="post_content"><%=post.post_content%></span>
  </div>
<%end%>
