// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.post_container {
  margin:  30px  30px 0 15px;
  border: 1px solid #f0f5f5;
  border-radius: 1px;
  -webkit-box-shadow: 3px 3px 2px 0px rgba(0,0,0,0.08);
  -moz-box-shadow: 3px 3px 2px 0px rgba(0,0,0,0.08);
  box-shadow: 3px 3px 2px 0px rgba(0,0,0,0.08);
  width: auto;
  background-color: #f8f8f8;
}
  
.post_author {
  font-weight: bold;
  font-size: 16px;
  margin: 15px 0;
  padding-left: 10px;
}

.post_content {
  font-size: 14px;
  margin: 15px 0;
  padding: 0 0 10px 10px;
}

header {
  clear: all;
}

.body_container {
  margin-left: 15px;
  margin-top: 100px;
}

nav {
  display: inline-block;
  float:right;
}

li {
  list-style-type: none;
  display: inline-block;
  float: right;
  text-decoration: none;
  margin-right: 15px;
  margin-top: 20px;
}

.post_time {
  font-size: 12px;
  font-style: italic;
  line-height: 12px;
} 

.white_title {
  display: inline-block;
  color: white;
  margin: 5px 0 0 15px;
  padding: 0;
}

li a:hover {
  text-decoration: none;
}


li a:visited {
  text-decoration: none;
}

li a:active {
  text-decoration: none;
}

li a:link {
  text-decoration: none;
}

footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  right: 0;
  left: 0;
  height: 30px;
  color: white;
  background-color: black;
}

.footer-left {
  float: left;
  display: inline-block;
}

.footer-right {
  float: right;
  display: inline-block;
}

.social_container {
  margin: 90px auto 10px auto;
}

.social_centerer {
  width: 200px;
  margin: 0 auto;
}

.social-btn {
  height: 80px;
  width: 150px; margin: 0 15px; border-radius: 6px;
}

